<h2>Add a review:</h2>
<%= form_with(model: [ @book, @book.reviews.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :review %><br>
    <%= form.text_area :review %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back to search', patron_index_path %>